body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border: 0;
  background: #1d74ad;
  padding: 16px 32px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.btn-create-post, .btn-logout {
  padding: 8px 16px;
  background-color: #fff;
  color: #1d74ad;
  border-radius: 8px;
  margin: 0 8px;
}